<div id="road-wrapper">
  <div id="road-content">
    <div class="nav">
      <button class="btn"><i class="fas fa-car fa-5x"></i></button>
      <button class="btn"><i class="fas fa-male fa-5x"></i></button>
      <button class="btn"><i class="fas fa-bicycle fa-5x"></i></button>
    </div>
    <button
      class="btn homeBtn"
      [routerLink]="['/home']"
      routerLinkActive="router-link-active"
    >
      <i class="fas fa-home fa-5x"></i>
    </button>
  </div>
  <div class="body">
    <!-- <agm-map
    [latitude]="latitude"
    [longitude]="longitude"
    [zoom]="zoom"
    (mapClick)="addMarker($event.coords.lat, $event.coords.lng)"
    >
    
    <agm-marker
    *ngFor="let marker of markers"
    [latitude]="marker.lat"
    [longitude]="marker.lng"
    [markerDraggable]="false"
    >
    
  </agm-marker>

  <agm-polyline 
  [latitude]
  
  >
          
  </agm-polyline>
</agm-map> -->

    <google-map 
    [center]="myLatLng" 
    [zoom]="zoom"
    (mapClick)="click($event)"

    >
      <map-marker
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
      >
      </map-marker>
      <map-polyline
      
      >

      </map-polyline
     >
    </google-map>

    <input
      id="search-location"
      type="text"
      placeholder="Search a new address"
    />
  </div>
</div>
